h1 img{
    border-radius: 30px;
}

nav{
   margin: 20px 0px;
   text-align: center;
   padding: 20px 0px;
   background: black;
}

nav a {
    text-decoration: none;
    padding-right: 60px; 
    color:white;
    font-family: system-ui
}

.shopp {
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: system-ui;
}

footer{
    border-top:dotted;
    font-size: 16px;
    font-family:Arial;
}

main {
    font-family: Arial;
    text-align: justify;
}

main p{
    font-size: 20px;
}

table img{
    width: 60px;
    height: 60px;
}

table{
    border-collapse: collapse;
    background: radial-gradient(rgb(177, 177, 255), rgb(102, 102, 253))
}

tr{
    border: 1px solid black;
}

th{
    padding: 15px;
    border: 1px solid black;
    background: linear-gradient(rgb(90, 90, 90),rgb(255, 255, 255));
}

td{
    border: 1px solid black;
}

#h22{
    border-top: dotted;
    margin: 10px;
}

#h222{
    margin: 10px;
}
